<main>
  <section class="menu-pricing p-0">

    <%# <%= render 'shared/nav_promo' %>

    <section class="hero--main">
      <div class="fibra-meo ml-5">
        <h2 class="heading-primary--main fibra-meo-title">Samsung Galaxy S21</h2>
        <p class="heading-primary--sub mb-5 fibra-meo-subtitle">com exclusivo de 12 meses de 5G à máxima velocidade</p>
      </div>

      <div id="services"></div>
    </section>

    <div class="title title-meo-pacotes my-0 pt-5" style="background-color:#e4eefa; ">
      <h2 class="heading-primary--main">
        Os melhores pacotes para sua casa <span class="meo-interro" data-aos="fade-down">!!!</span>
      </h2>
    </div>

    <div class="tile" id="tile-1">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <div class="slider"></div>

        <li class="nav-item">
          <%= link_to telemovel_meo_path(option: "telemovel"), {remote: true, id:"home-tab", class: "nav-link active", "data-toggle" => "tab" }  do %>
            <i class="fas fa-home"></i> Telemovel
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to tv_net_voz_meo_path(option: "tv_net_voz"), {remote: true, id:"home-tab", class: "nav-link", "data-toggle" => "tab" }  do %>
            <i class="fas fa-home"></i> Tv_net_voz
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to gaming_meo_path(option: "gaming"), {remote: true, id:"home-tab", class: "nav-link", "data-toggle" => "tab" }  do %>
            <i class="fas fa-home"></i> Gaming
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to outros_meo_path(option: "outros"), {remote: true, id:"home-tab", class: "nav-link", "data-toggle" => "tab" }  do %>
            <i class="fas fa-home"></i> Outros
          <% end %>
        </li>
      </ul>
    </div>

    <div id="result-menu" class="bg-fibra-meo">
      <%= render  "pacotes/pacotes_meo/telemovel"%>
    </div>
  </section>
</main>

<%= render 'pages/footer' %>

<style>
  body
  {
    background-color:#f1f1f2;
  }
  .tile
  {
    width:80%;
    margin:60px auto;
  }
  #tile-1 .nav-tabs
  {
    position:relative;
    border:none!important;
    background-color:#fff;
  /*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
    border-radius:6px;
  }
  #tile-1 .nav-tabs li
  {
    margin:0px!important;
  }
  #tile-1 .nav-tabs li a
  {
    position:relative;
    margin-right:0px!important;
    padding: 20px 40px!important;
    font-size:16px;
    border:none!important;
    color:#333;
  }
  #tile-1 .nav-tabs a:hover
  {
    background-color:#fff!important;
    border:none;
  }
  #tile-1 .slider
  {
    display:inline-block;
    width:30px;
    height:4px;
    border-radius:3px;
    background-color:#39bcd3;
    position:absolute;
    z-index:1200;
    bottom:0;
    transition:all .4s linear;
  
  }
  #tile-1 .nav-tabs .active
  {
    background-color:transparent!important;
    border:none!important;
    color:#39bcd3!important;
  }
</style>

<script>
  $("#tile-1 .nav-tabs a").click(function() {
    var position = $(this).parent().position();
    var width = $(this).parent().width();
      $("#tile-1 .slider").css({"left":+ position.left,"width":width});
  });
  var actWidth = $("#tile-1 .nav-tabs").find(".active").parent("li").width();
  var actPosition = $("#tile-1 .nav-tabs .active").position();
  $("#tile-1 .slider").css({"left":+ actPosition.left,"width": actWidth});
</script>
