<ul class="navbar-nav ml-auto">
  <li class="nav-item nav-menu">
    <%= link_to telemovel_nos_path(option: "telemovel"), {remote: true, class: "nav-link js-scroll-trigger"}  do %>
      <i class="fas fa-home"></i> Telemovel
    <% end %>
  </li>

  <li class="nav-item nav-menu">
    <%= link_to tv_net_voz_nos_path(option: "tv_net_voz"), {remote: true, class: "nav-link"}  do %>
      <i class="fas fa-home"></i> Tv_net_voz
    <% end %>
  </li>

  <li class="nav-item nav-menu">
    <%= link_to net_nos_path(option: "net"), {remote: true, class: "nav-link"}  do %>
      <i class="fas fa-home"></i> Net
    <% end %>
  </li>

  <li class="nav-item nav-menu">
    <%= link_to outros_nos_path(option: "outros"), {remote: true, class: "nav-link"}  do %>
      <i class="fas fa-home"></i> Outros
    <% end %>
  </li>

  <li class="nav-item nav-menu">
    <%= link_to root_path, {class: "nav-link"}  do %>
      <i class="fas fa-home"></i> P&aacute;gina principal
    <% end %>
  </li>
</ul>
