<nav class="navbar navbar-fixed navbar-expand-lg navbar-mainbg navbar-fixed-top">
  <%# LOGOOOO /put </a> %>
  <%# <a class="navbar-brand navbar-logo" href="#"><%= image_tag 'logo_meo_preto.png' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
  </button>

  <%# PACOTES MEO %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render "shared/ul_pacotes/pacotes_meo_ul" if current_page?(pacotes_meo_path) %>
  </div>

  <%# PACOTES NOS %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render "shared/ul_pacotes/pacotes_nos_ul" if current_page?(pacotes_nos_path) %>
  </div>

  <%# PACOTES NOWO %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render "shared/ul_pacotes/pacotes_nos_ul" if current_page?(pacotes_vodafone_path) %>
  </div>

  <%# PACOTES VODAFONE %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render "shared/ul_pacotes/pacotes_nos_ul" if current_page?(pacotes_nowo_path) %>
  </div>
</nav>
