<div class="pricing-table-container">
  <div class="pricing-table py-5">
    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-30 pricing-card-header pricing-card-header-vodafone">Fibra 4 Play</h3>
      <div class="price price-vodafone"><sup>€</sup>59,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 170 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 24 meses<br>
          <strong>HBO Portugal</strong> durante 24 meses<br>
          <strong>FOX+</strong> durante 24 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 500/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router 2.0<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>

        <li>
          <i class="fas fa-portrait"></i>
          <strong>1 n&uacute;mero - 1GB inclu&iacute;dos</strong><br>
          3.500 min + 3.500 SMS/MMS<br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartão para PC/Tablet/Hotspot</strong><br>
          Sem Net M&oacute;vel
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-30 pricing-card-header pricing-card-header-vodafone">Fibra 4 Plus</h3>
      <div class="price price-vodafone"><sup>€</sup>67,8<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 170 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 6 meses<br>
          <strong>HBO Portugal</strong> durante 6 meses<br>
          <strong>FOX+</strong> durante 24 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>

        <li>
          <i class="fas fa-portrait"></i>
          <strong>2 n&uacute;meros - 2GB inclu&iacute;dos</strong><br>
          1° y 2° número | 3.500 min + 3.500 SMS/MMS<br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartão para PC/Tablet/Hotspot</strong><br>
          Sem Net M&oacute;vel
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-30 pricing-card-header pricing-card-header-vodafone">Fibra 4 Plus</h3>
      <div class="price price-vodafone"><sup>€</sup>78,8<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 170 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 6 meses<br>
          <strong>HBO Portugal</strong> durante 6 meses<br>
          <strong>FOX+</strong> durante 24 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>

        <li>
          <i class="fas fa-portrait"></i>
          <strong>2 n&uacute;meros - 10GB inclu&iacute;dos</strong><br>
          1° y 2° número | 3.500 min + 3.500 SMS/MMS<br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartão para PC/Tablet/Hotspot</strong><br>
          Sem Net M&oacute;vel
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-30 pricing-card-header pricing-card-header-vodafone">Fibra 4 Light</h3>
      <div class="price price-vodafone"><sup>€</sup>51,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 140 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 6 meses<br>
          <strong>HBO Portugal</strong> durante 6 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>

        <li>
          <i class="fas fa-portrait"></i>
          <strong>1 n&uacute;mero - 500MB inclu&iacute;dos</strong><br>
          800 min/SMS/MMS<br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartão para PC/Tablet/Hotspot</strong><br>
          Sem Net M&oacute;vel
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-vodafone" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-vodafone-32 pricing-card-header pricing-card-header-vodafone">Fibra 4 Gold-Family</h3>
      <div class="price price-vodafone"><sup>€</sup>89,9<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 170 Canais | VBoxPro 4K</strong><br>
          <strong>Amazon Prime Video</strong> durante 24 meses<br>
          <strong>HBO Portugal</strong> durante 24 meses<br>
          <strong>FOX+</strong> durante 24 meses<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 500/100 Mbps</strong><br>
          Velocidade Garantida<br>
          Smart Router 2.0<br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ Fixa - Chamadas inclu&iacute;das</strong><br>
          Para a rede fixa e 31 destinos internacionais<br>
        </li>

        <li>
          <i class="fas fa-portrait"></i>
          <strong>3 n&uacute;meros</strong><br>
          1°n&uacute;mero | <strong>10GB</strong> - 3.500 min + 3.500 SMS/MMS<br>
          2°n&uacute;mero | <strong>10GB</strong> - 3.500 min + 3.500 SMS/MMS<br>
          3°n&uacute;mero | <strong>10GB</strong> - 3.500 min + 3.500 SMS/MMS<br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartão para PC/Tablet/Hotspot</strong><br>
          Sem Net M&oacute;vel
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
    </div>
  </div>
</div>
