<section class="section theme pb-0 pt-3" id="services">
  <div class="title m-5 mb-3">
    <h2 data-aos="fade-right" data-aos-duration="2000">Que pacote precisas?</h2>
  </div>

  <!-- x4 pacotes -->
  <div class="services-center container">
    <div>
      <%= link_to pacotes_meo_path do %>
        <div class="service " data-aos="fade-down" data-aos-duration="2000">
          <div class="vanilla vanilla-meo">
            <span><%= image_tag 'meo_logo.png' %></span>
            <%= link_to "Saber mais", pacotes_meo_path, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2", target: '_blank', role: "button" %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to pacotes_nos_path do %>
        <div class="service " data-aos="fade-up" data-aos-duration="2000">
          <div class="vanilla vanilla-nos">
            <span><%= image_tag 'nos_logo.png' %></span>
            <%= link_to "Saber mais", pacotes_nos_path, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2", target: '_blank', role: "button" %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to pacotes_vodafone_path do %>
        <div class="service " data-aos="fade-down" data-aos-duration="2000">
          <div class="vanilla vanilla-vodafone">
            <span><%= image_tag 'vodafone_logo.png' %></span>
            <%= link_to "Saber mais", pacotes_vodafone_path, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2", target: '_blank', role: "button" %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to pacotes_nowo_path do %>
        <div class="service " data-aos="fade-down" data-aos-duration="2000">
          <div class="vanilla vanilla-nowo">
            <span><%= image_tag 'nowo.png' %></span>
            <%= link_to "Saber mais", pacotes_nowo_path, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2", target: '_blank', role: "button" %>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- x3 pacotes -->
  <div class="services-center container mt-4">
    <div>
      <%= link_to 'javascript:;', :id => :foo do %>
        <div class="service " data-aos="fade-up" data-aos-duration="2000">
          <div class="vanilla vanilla-meo">
            <span><%= image_tag 'familia-2.png' %></span>
            <%= link_to "Em breve", 'javascript:;', :id => :foo, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2"%>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to 'javascript:;', :id => :foo do %>
        <div class="service " data-aos="fade-down" data-aos-duration="2000">
          <div class="vanilla vanilla-nos">
            <span><%= image_tag 'InBusiness_logo.png' %></span>
            <%= link_to "Em breve", 'javascript:;', :id => :foo, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2"%>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to 'javascript:;', :id => :foo do %>
        <div class="service " data-aos="fade-up" data-aos-duration="2000">
          <div class="vanilla vanilla-vodafone">
            <span><%= image_tag 'gammers.png' %></span>
            <%= link_to "Em breve", 'javascript:;', :id => :foo, class: "btn btn--white btn--animated btn-dark mt-3 btn-position btn-position-b2"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1"
        d="M0,224L40,218.7C80,213,160,203,240,202.7C320,203,400,213,480,229.3C560,245,640,267,720,272C800,277,880,267,960,234.7C1040,203,1120,149,1200,122.7C1280,96,1360,96,1400,96L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
    </path>
  </svg>
</section>
