<footer class="footer bg-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright text-light">Copyright &copy; Luis Castro - Gestor Comercial 2021</span>
      </div>

      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <%= link_to "https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629", target: "_blank", rel: "noopener", 'aria-label' => "Facebook" do %>
              <i class="fab fa-facebook-f"></i>
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to "https://www.instagram.com/luis_castro_oficial_/", target: "_blank", rel: "noopener", 'aria-label' => "Instagram" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          </li>

          <li class="list-inline-item">
            <%= link_to "https://web.whatsapp.com/send?phone=351961877108", target: "_blank", rel: "noopener", 'aria-label' => "Whatsapp" do %>
              <i class="fab fa-whatsapp"></i>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <%= link_to 'política de privacidade', termos_path, target: "_blank", rel: "noopener"%>
          </li>
          <li class="list-inline-item">
            <%= link_to 'Termos de uso', termos_path, target: "_blank", rel: "noopener"%>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
