<section class="site-header p-0">

  <div class="carousel mb-0"  >
    <div class="carousel_contenedor">
      <div class="carousel__lista">
        <div class="carousel__elemento">
          <%= image_tag 'header-1.jpeg', class: "rounded-header mx-auto" %>
        </div>

        <div class="carousel__elemento">
          <%= image_tag 'header-2.jpeg', class: "rounded-header mx-auto" %>
        </div>

        <div class="carousel__elemento">
          <div class="d-flex justify-content-center align-items-center">
            <%= image_tag 'header-3.jpeg', class: "rounded-header mx-auto" %>
          </div>
        </div>

        <div class="carousel__elemento">
          <div class="d-flex justify-content-center align-items-center">
            <%= image_tag 'header-4.jpeg', class: "rounded-header mx-auto" %>
          </div>
        </div>
      </div>

      <button aria-label="Anterior" class="carousel__anterior">
        <i class="fas fa-chevron-left"></i>
      </button>

      <button aria-label="Siguiente" class="carousel__siguiente">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</section>

<div id="cajacookies">
  <p>
    Usamos cookies para lhe proporcionar uma melhor experiência no nosso site. Se você continuar a usar nosso site, presumimos que concorda com isso.
    <%= link_to 'política de privacidade', termos_path, class:'btn btn-light pull-right', target: "_blank" %>
    <%= link_to 'Aceitar', nil, class:'btn btn-light pull-right', onclick:'aceptarCookies()' %>
  </p>
</div>
