<!-- Header -->
<%# <header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>a
    </div>
</header>
%>

<section class="section_masthead">
  <div class="section_masthead__circle"></div>
  <div class="section_masthead__redondo">
    <%= image_tag '800mbps.png', class:"img-redondo" %>
  </div>
  <div class="section_masthead__redondo-2"></div>
  <div class="figure-h">
    <div class='white'>
      <div class='squares'>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
        <div class='square'></div>
      </div>
    </div>
    
    <div class='grey'></div>
  </div>

  <div class="promo_social">
    <a href="#">
      <img src="images/logo.png" class="logo" alt="">
    </a>

    <div class="toggle" onclick="ToggleMenu()"></div>

    <ul class="navigation">
      <li><a>Home</a></li>
      <li><a>Menu</a></li>
      <li><a>What's new</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>

  <div class="content px-lg-0">
    <div class="textBox">
      <h3 class="textBox--h2">You deserve ultra</h3>
      <h3 class="textBox--h2">Taste the Feeling</h3>
      
      <h3 class="second-h">tasted the feeling</h3>
          
      <p class="textBox--p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
        mattis, pulvinar dapibus leo.
      </p>
      
      <div class="text-center">
        <a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Login Modal</a>
      </div>

      <%= link_to "Learn more", "#", href: "#services", class: "btn btn--white btn--animated btn-dark", role: "button" %>  
    </div>
  </div>

</section>

<div class="curve-upper">
  <div style="height: 150px; overflow: hidden;" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L504.22,105.09 L-3.67,94.23 Z" style="fill: rgba(3, 250, 209, 1);"></path>
    </svg>
  </div>

  <%= link_to "Learn more", "#", href: "#services", class: "btn btn--white btn--animated btn-dark", role: "button" %>  
</div>

<%= render "pages/experience" %>
<%= render "contacts/modal_contacts" %>