<%# STATIC ICONS %>

<%# <div class="social d-none d-md-block">
  <ul>
    <li>
      <a class="facebook" target="_blank" href="https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629">
        <i class="icon-facebook fab fa-facebook-f a22"></i>
      </a>
    </li>

    <li>
      <a class="instagram" target="_blank" href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>

    <li>
      <a class="gmail" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=luismarquesc93@gmail.com">
        <i class="far fa-envelope"></i>
      </a>
    </li>

    <li>
      <p class="static" href="#" onclick="return false;">
        <i class="fab fa-linkedin-in"></i>
      </p>
    </li>
  </ul>
</div> %>

<%# DINAMIC ICONS %>

<ul class="call">
  <%= link_to 'tel:+351912486630' do %>
    <li class="call-items" title="Ligue para nós">
      <i class="fas fa-phone"></i>
    </li>
  <% end %>

  <%# whatsapp Not Telemovel %>
  <div class="d-none d-md-block">
    <%= link_to "https://web.whatsapp.com/send?phone=351912486630", target: '_blank' do %>
      <li class="call-items" title="Escreva para nós">
        <i class="fab fa-whatsapp"></i>
      </li>
    <% end %>
  </div>

  <%# whatsapp Telemovel %>
  <div class="d-block d-md-none">
    <%= link_to "https://wa.me/351912486630", target: '_blank' do %>
      <li class="call-items" title="Escreva para nós">
        <i class="fab fa-whatsapp"></i>
      </li>
    <% end %>
  </div>

  <%= link_to "https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629", target: '_blank' do %>
    <li class="call-items" title="Contacte-nos pelo facebook">
      <i class="fab fa-facebook-square"></i>
    </li>
  <% end %>

  <%= link_to "https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629", target: '_blank' do %>
    <li class="call-items" title="Veja nossas publicações">
      <i class="fab fa-instagram"></i>
    </li>
  <% end %>

  <!-- Call Menu Button Telemovel -->
  <div class="d-none d-md-block">
    <li class="call-menu" title="Menu">
      <i class="fas fa-phone"></i>
      <span class="ligueExpand font-weight-bold">&nbsp;Ligue para n&oacute;s</span>
    </li>
  </div>

  <!-- Call Menu Button Not Telemovel -->
  <div class="d-block d-md-none">
    <li class="call-menu" title="Menu">
      <i class="fas fa-phone"></i>
    </li>
  </div>
</ul>
