<%# DINAMIC ICONS %>

<div class="call">
  <%= form_with url: social_contacts_path(type: "pc_phone") do |form| %>
    <%= button_tag type: 'submit', class:"call-items", title: "Ligue para nós e iremos atendê-lo"  do %>
      <i class="fas fa-phone"></i>
    <% end %>
  <% end %>

  <%# whatsapp Not Telemovel %>
  <%= form_with url: social_contacts_path(type: "whatsapp"), class: "d-none d-md-block", :target => "_blank", rel: "noopener" do |form| %>
    <%= button_tag type: 'submit', class:"call-items popup", title: "Escreva para nós", :target => "_blank", rel: "noopener"  do %>
      <i class="fab fa-whatsapp"></i>
    <% end %>
  <% end %>

  <%# whatsapp Telemovel %>
  <%= form_with url: social_contacts_path(type: "mobil_phone"), class: "d-block d-md-none", :target => "_blank", rel: "noopener" do |form| %>
    <%= button_tag type: 'submit', class:"call-items popup", title: "Escreva para nós", :target => "_blank", rel: "noopener"  do %>
      <i class="fab fa-whatsapp"></i>
    <% end %>
  <% end %>

  <%# Facebook Not Telemovel %>
  <div class="d-none d-md-block">
    <%= link_to "https://www.facebook.com/Lu%C3%ADs-Castro-Comercial-MEO-103347814777629", target: '_blank', rel: 'noopener', 'aria-label' => "Facebook" do %>
      <div class="call-items" title="Contacte-nos pelo facebook">
        <i class="fab fa-facebook-square"></i>
      </div>
    <% end %>
  </div>

  <%# Facebook Telemovel %>
  <div class="d-block d-md-none">
    <%= link_to "https://m.facebook.com/profile.php?id=103347814777629&ref=content_filter", target: '_blank',  rel: 'noopener', 'aria-label' => "Facebook" do %>
      <div class="call-items" title="Contacte-nos pelo facebook">
        <i class="fab fa-facebook-square"></i>
      </div>
    <% end %>
  </div>

  <%= link_to "https://www.instagram.com/luis_castro_oficial_/", target: '_blank',  rel: 'noopener', 'aria-label' => "Instagram"  do %>
    <div class="call-items" title="Veja nossas publicações">
      <i class="fab fa-instagram"></i>
    </div>
  <% end %>

  <!-- Call Menu Button Telemovel -->
  <div class="d-none d-md-block">
    <div class="call-menu" title="Menu">
      <i class="fas fa-phone"></i>
      <span class="ligueExpand font-weight-bold">&nbsp;Ligue J&aacute;!</span>
    </div>
  </div>

  <!-- Call Menu Button Not Telemovel -->
  <div class="d-block d-md-none">
    <div class="call-menu" title="Menu">
      <i class="fas fa-phone"></i>
    </div>
  </div>
</ul>
