<section class="bg-light section-portfolio pt-0" id="portfolio">
  <div class="container mx-lg-4">
    <div class="circle"></div>

    <div class="content">
      <div class="textBox">
        <div class="texBox--phrase">
          <h2 class= "texBox--title" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="2000">O futuro é emocionante. Ready?<span id="letterSlogan" class="letter ml-3">Vodafone</span></h2>
        </div>

        <p data-aos="fade-up" data-aos-duration="3000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero beatae laborum dolore dicta!
          Tenetur </p>
        <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-uppercase order-btn order-btn order-btn-vodafone", role: "button" %>
      </div>

      <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
        <img src="unsplash/vodafone-woman.png" alt="" class="starbucks">
      </div>
    </div>

    <ul class="thumb">
      <div class="thumb-container">
        <li>
          <%= image_tag 'meo.png', onclick:"imgSlider('unsplash/kunfu.png', '#7e5a25')" %>
        </li>

        <li>
          <%= image_tag 'nos_logo.png', onclick: "imgSlider('unsplash/phone.png', '#969695')" %>
        </li>

        <li>
          <%= image_tag 'vodafone_logo.png', onclick:"imgSlider('unsplash/vodafone-woman.png', '#e43220')" %>
        </li>

        <li>
          <%= image_tag 'nowo.png', onclick:"imgSlider('unsplash/supermanq.png', '#f14626')" %>
        </li>
      </div>
    </ul>
  </div>
</section>

<svg class="wave-promo" viewBox="292 0 950 130" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="" d="M 0 0 C 329 0 329 110 658 110 L 658 110 L 658 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 657 110 C 975.5 110 975.5 0 1294 0 L 1294 0 L 1294 0 L 657 0 Z" stroke-width="0"></path> </svg>
<!-- 292 0 1103 130 -->
