<!-- Team-->
<section class="page-section bg-dark" id="team">
  <div class="container">
    <div class="text-center">
      <div class="title text-light">
        <h2 data-aos="fade-right" data-aos-duration="2000">
          ¿O que nossos clientes pensam do serviço da Ideall?
        </h2>
      </div>
    </div>

    <!--  ingeniero, judoca, agente de viaje, gerente, surfista -->
    <div class="carousel">
      <div class="carousel_contenedor">
        <button aria-label="Anterior" class="carousel__anterior">
          <i class="fas fa-chevron-left"></i>
        </button>

        <div class="carousel__lista">
          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-down" data-aos-duration="2000">
              <%= image_tag 'dancer.png', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Mario L. Pereira</h4>
              <p class="text-muted">Dancer/Modelo</p>
              <h6 class="text-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
              </h6>
            </div>
          </div>

          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-up" data-aos-duration="2000">
              <%= image_tag 'desenhista.jpg', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Zorina Gonçalves</h4>
              <p class="text-muted">Cabeleireiro</p>
              <h6 class="text-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
              </h6>
            </div>
          </div>

          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-down" data-aos-duration="2000">
              <%= image_tag 'dentist.png', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Jes&uacute;s Stavridis</h4>
              <p class="text-muted">Desenhista</p>
              <h6 class="text-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
              </h6>
            </div>
          </div>

          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-up" data-aos-duration="2000">
              <%= image_tag 'agency.jpg', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Astrid Bautista</h4>
              <p class="text-muted">Estagi&aacute;rio
                <h6 class="text-light">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
                </h6>
              </p>
            </div>
          </div>

          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-down" data-aos-duration="2000">
              <%= image_tag 'engenheiro.jpg', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Guillermo Barreiros</h4>
              <p class="text-muted">Engenheiro</p>
              <h6 class="text-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
              </h6>
            </div>
          </div>

          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-up" data-aos-duration="2000">
              <%= image_tag 'gerente.jpg', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Sabrina Da Costa</h4>
              <p class="text-muted">Gerente Comercial
                <h6 class="text-light">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
                </h6>
              </p>
            </div>
          </div>

          <div class="carousel__elemento">
            <div class="team-member" data-aos="fade-down" data-aos-duration="2000">
              <%= image_tag 'surfing.jpg', class: "mx-auto rounded-circle" %>
              <h4 class="text-light">Habib Khawam</h4>
              <p class="text-muted">Surfista Profissional
                <h6 class="text-light">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis amet ipsa nobis ex sint fugit sed molestiae maxime repellat tenetur?
                </h6>
              </p>
            </div>
          </div>
        </div>

      </div>

      <button aria-label="Siguiente" class="carousel__siguiente">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <div role="tablist" class="carousel__indicadores"></div>
  </div>
</div>
</section>
