<!-- Header -->
<%= render "header" %>

<!-- Experience -->
<%= render "experience" %>

<!-- Promo -->
<section class="bg-light section-portfolio pt-0" id="portfolio">
  <div class="container mx-lg-4">
    <%# Principal Promotion %>
    <div id="promoType">
      <%= render 'pages/promotions/promotion_nos' %>
    </div>

    <%# choose icon options: meo-nos-vodafone-nowo %>
    <%= render 'pages/promotions/options' %>
  </div>
</section>

<!-- About -->
<%= render "vision" %>

<!-- Contact -->
<%= render "contact" %>

<!-- Footer -->
<%= render "footer" %>

<!-- Cookies and privacity -->
