<!-- Header -->
<%= render "header" %>

<!-- Experience -->
<%= render "experience" %>

<section class="bg-light section-portfolio pt-0" id="portfolio">
  <div class="container mx-lg-4">
    <div id="promoType">
      <div class="circle"></div>

      <div class="content">
        <div class="textBox">
          <div class="texBox--phrase">
            <h2 class= "texBox--title mb-2" id="textBoxSlogan" data-aos="fade-right" data-aos-duration="2000">Conheça as melhores ofertas de<span id="letterSlogan" class="letter ml-md-3">Vodafone</span></h2>
          </div>
          <p data-aos="fade-up" data-aos-duration="3000" class="text-justify text">
            Com apenas <strong>49,99 €/mês</strong> aproveite a programação de 140 Canais: <strong>VBox</strong>, <strong>Amazon Prime Video</strong> e <strong>HBO Portugal</strong> inclu&iacute;do<strong>&#10003;</strong>. Mais 500 MB em telemovel<strong>&#10003;</strong> 100/100 Mbps de Internet<strong>&#10003;</strong> e Chamadas para <strong>&#xab;31 destinos internacionais&#xbb;</strong>
          </p>
          <div class="button_promo">
            <%= link_to "adira já!", new_contact_path(operator: "VODAFONE"), remote: true, class: "text-decoration-none text-uppercase order-btn order-btn order-btn-vodafone button-promo", role: "button" %>
          </div>
        </div>
        <div class="imgBox" data-aos="fade-down" data-aos-duration="3000">
          <img src="unsplash/vodafone-woman.png" alt="" class="starbucks">
        </div>
      </div>
    </div>

    <%# promo_option: meo-nos-vodafone-nowo %>
    <ul class="thumb">
      <div class="thumb-container">
        <li>
          <%= link_to promo_meo_path(option: "promotion_meo"), {remote: true, id:"home-tab", class: "nav-link active", "data-toggle" => "tab" }  do %>
            <%= image_tag 'meo.png' %>
          <% end %>
        </li>

        <li>
          <%= link_to promo_nos_path(option: "promotion_nos"), {remote: true, id:"home-tab", class: "nav-link active", "data-toggle" => "tab" }  do %>
            <%= image_tag 'nos_logo.png' %>
          <% end %>
        </li>

        <li>
          <%= link_to promo_vodafone_path(option: "promotion_vodafone"), {remote: true, id:"home-tab", class: "nav-link active", "data-toggle" => "tab" }  do %>
            <%= image_tag 'vodafone_logo.png' %>
          <% end %>
        </li>

        <li>
          <%= link_to promo_nowo_path(option: "promotion_nowo"), {remote: true, id:"home-tab", class: "nav-link active", "data-toggle" => "tab" }  do %>
            <%= image_tag 'nowo.png' %>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
</section>

<!-- About -->
<%= render "vision" %>

<!-- Contact -->
<%= render "contact" %>

<!-- Footer -->
<%= render "footer" %>
