<%= form_with(model: @contact, url: contacts_path) do |f| %>
  <div class="form-group form-input">
    <%= f.text_field :total_name, required: true, maxlength: "42", oninvalid: "this.setCustomValidity('Por favor, insira seu nome')",
                      oninput: "this.setCustomValidity('')", id:"firstName" %>
    <%= f.label :total_name, "Qual é seu nome?", class:"form-label" %>
  </div>

  <div class="form-group form-input">
    <%= f.email_field :email, required: true, maxlength: "42", oninvalid: "this.setCustomValidity('Seu endereço de e-mail deve existir e incluir '@' nele.')", 
                       oninput: "this.setCustomValidity('')", id:"email"  %>
    <%= f.label :email, "Qual é seu email?", class:"form-label" %>
  </div>

  <div class="form-group d-none">
    <%= f.text_field :operator, value: @contact.operator, class: "form-control" %>
  </div>

  <div class="form-group d-none">
    <%= f.number_field :package_id, value: @contact.package_id, class: "form-control" %>
  </div>

  <div class="input-group mb-3 form-input">
    <div class="input-group-prepend">
      <span class="input-group-text p-1 code_pt letter_pt" id="basic-addon1">+351</span>
    </div>
    <%= f.phone_field :phone, :pattern => '\d{9}', maxlength: "9", required: true, class: "form-control placeholder_phone", placeholder: "Seu numero de telefone?",
                           oninvalid: "this.setCustomValidity('Por favor, insira seu número correto')", oninput: "this.setCustomValidity('')", 
                           id:"phoneNumber", onkeypress: "return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))"%>

    <small id="emailHelp" class="form-text text-muted text-center">
      <em class="mt-0 ml-1 text-align-center">"Nunca compartilharemos seu informação pessoal com qualquer outra pessoa!."</em>
    </small>
  </div>

  <div class="form-group mt-4">
    <%= f.submit "Fale Connosco", class: "btn btn--white btn-cstm-dark btn-block btn-cta" %>
  </div>
<% end %>
