<div class="pricing-table-container">
  <div class="pricing-table py-5">
    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header pricing-card-header-nos">NOS 4</h3>
      <div class="price price-nos"><sup>€</sup>51,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          Box UMA TV 4K<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100 Mbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão</strong><br>
          500MB<br>
          800 min/sms
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-24 pricing-card-header pricing-card-header-nos">Recomendado</h3>
      <div class="price price-nos"><sup>€</sup>55,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Inclui NOS Studios<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 500 Mbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão</strong><br>
          1GB<br>
          3000 min/sms
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-24 pricing-card-header pricing-card-header-nos">NOS 4</h3>
      <div class="price price-nos"><sup>€</sup>59,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Inclui NOS Studios<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 200 Mbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 2 cartão</strong><br>
          1º cartão || 2GB - 6000 min/sms <br>
          2º cartão || 2GB - 6000 min/sms <br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-24 pricing-card-header pricing-card-header-nos">NOS 4</h3>
      <div class="price price-nos"><sup>€</sup>93,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Canais Premium de Cinema<br>
          TVCine, NOS Play e Acorn TV
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão Sem limites</strong><br>
          Velocidade máxima<br>
          Minutos/SMS e dados ilimitados
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-24 pricing-card-header pricing-card-header-nos">NOS 4</h3>
      <div class="price price-nos"><sup>€</sup>94,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Canais Premium de Entretenimento<br>
          TV Cine, NOS Play e ELEVEN
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão Sem limites</strong><br>
          Velocidade máxima<br>
          Minutos/SMS e dados ilimitados<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-24 pricing-card-header pricing-card-header-nos">NOS 4</h3>
      <div class="price price-nos"><sup>€</sup>99,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Canais Premium de Desporto<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>

        <li>
          <i class="fas fa-sim-card"></i>
          <strong>Cartões - 1 cartão Sem limites</strong><br>
          Velocidade máxima<br>
          Minutos/SMS e dados ilimitados<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(operator: "NOS"), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>
  </div>
</div>
