<div class="pricing-table-container">
  <div class="pricing-table py-5">
    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-20 pricing-card-header pricing-card-header-nos">NOS 3</h3>
      <div class="price price-nos"><sup>€</sup>30,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 120 Canais</strong><br>
          Sem box
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 30 Mbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
          3.000 min para redes fixas nacionais<br>
          1.000 min para destinos internacionais<br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.second.packages.first.id), remote: true, class: "text-uppercase order-btn order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-18 pricing-card-header pricing-card-header-nos">NOS 3</h3>
      <div class="price price-nos"><sup>€</sup>34,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 150 Canais</strong><br>
          Box UMA TV 4K<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 100 Mbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.second.packages.second.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-20 pricing-card-header pricing-card-header-nos">NOS 3</h3>
      <div class="price price-nos"><sup>€</sup>36,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Inclui NOS Studios<br>
          Inclui 6 meses TVCine (7)
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 200 Mbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.second.packages.third.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-20 pricing-card-header pricing-card-header-nos">NOS 3</h3>
      <div class="price price-nos"><sup>€</sup>58,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Canais Premium de Cinema<br>
          TVCine, NOS Play e Acorn TV
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.second.packages.fourth.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-down" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-20 pricing-card-header pricing-card-header-nos">NOS 3</h3>
      <div class="price price-nos"><sup>€</sup>62,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Canais Premium de Entretenimento<br>
          TV Cine, NOS Play e ELEVEN
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.second.packages.fifth.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>

    <div class="pricing-card pricing-card-nos" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="pricing-card-header-nos-20 pricing-card-header pricing-card-header-nos">NOS 3</h3>
      <div class="price price-nos"><sup>€</sup>74,99<span>/mês</span></div>

      <ul>
        <li>
          <i class="fas fa-tv"></i>
          <strong>TV - 180 Canais</strong><br>
          Box UMA TV 4K<br>
          Canais Premium de Desporto<br>
        </li>

        <li>
          <i class="fas fa-wifi"></i>
          <strong>Internet - 1 Gbps</strong><br>
        </li>

        <li>
          <i class="fas fa-phone-volume"></i>
          <strong>VOZ - Chamadas inclu&iacute;das</strong><br>
        </li>
      </ul>

      <%= link_to "adira já!", new_contact_path(package_id: @nos_packages.second.packages.last.id), remote: true, class: "text-uppercase order-btn order-btn-nos", role: "button" %>
    </div>
  </div>
</div>
