<% if current_page?(root_path) %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top shadowNav" id="mainNav">
    <div	iv class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><%= image_tag 'Ideall-logo.png', class:"logo-ideall" %></a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <%= link_to 'Pacotes', root_path(anchor: 'services'), class: 'nav-link js-scroll-trigger'  %>
          </li>

          <li class="nav-item">
            <%= link_to 'Destaques', root_path(anchor: 'planos'), class: 'nav-link js-scroll-trigger'  %>
          </li>

          <li class="nav-item">
            <%= link_to 'Promoções', root_path(anchor: 'portfolio'), class: 'nav-link js-scroll-trigger' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Sobre nos', root_path(anchor: 'about'), class: 'nav-link js-scroll-trigger' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Contata-me', root_path(anchor: 'contact') , class:" nav-link js-scroll-trigger" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top shadowNav" id="mainNav">
    <div	iv class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><%= image_tag 'meo_logo.png', class:"meo-logo-ideall" %></a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ml-1"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto ">
          <li class="nav-item">
            <%= link_to 'Ideall-Home', root_path, id:'hack15-menu-button', class: 'nav-link js-scroll-trigger hack15-menu-button', target: '_blank' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Destaques', root_path(anchor: 'planos'), id:'hack15-menu-button', class: 'nav-link js-scroll-trigger hack15-menu-button', target: '_blank' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Promoções', root_path(anchor: 'portfolio'), id:'hack15-menu-button', class: 'nav-link js-scroll-trigger hack15-menu-button', target: '_blank' %>
          </li>

          <li class="nav-item d-flex dropdown align-items-center">
            <a class="nav-link dropdown-toggle hack15-menu-button" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Otros Pacotes
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Vodafone', pacotes_vodafone_path, class: 'dropdown-item', target: '_blank' if !current_page?(pacotes_vodafone_path) %>
              <%= link_to 'Nowo', pacotes_nowo_path, class: 'dropdown-item', target: '_blank' if !current_page?(pacotes_nowo_path) %>
              <%= link_to 'Meo', pacotes_meo_path, class: 'dropdown-item', target: '_blank' if !current_page?(pacotes_meo_path) %>
            </div>
          </li>

          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Silverbuxa</a>

            <ul role="menu" class="dropdown-menu">
              <li class="dropdown-menu">Setting</li>
              <%= link_to 'Nos', pacotes_nos_path, class: 'activate', target: '_blank' if !current_page?(pacotes_nos_path) %>
              <li><a href="#">Action</a></li>
              <li class="divider"></li>
              <li class="active"><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li class="disabled"><a href="#">Signout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<% end %>
