<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top shadowNav" id="mainNav">
  <div	iv class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><%= image_tag 'Ideall-logo.png', class:"logo-ideall" %></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <%= link_to 'Planos', root_path(anchor: 'services'), class: 'nav-link js-scroll-trigger'  %>
        </li>

        <li class="nav-item">
          <%= link_to 'Promoções', root_path(anchor: 'portfolio'), class: 'nav-link js-scroll-trigger' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Sobre nos', root_path(anchor: 'about'), class: 'nav-link js-scroll-trigger' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Contata-me', root_path(anchor: 'contact') , class:"nav-link js-scroll-trigger" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
