<!DOCTYPE html>
<html>

  <head>
    <title>Luis Castro | Ceo Comercial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Glider css %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

    <%# Tab %>
    <%= favicon_link_tag asset_path('Ideall-logo.png') %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">

    <!-- Typied Js for text -->
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script> %>

    <!-- AOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body id="page-top">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navbar'%>
    <%= yield %>
    <%# <script>
      !function(){var e=window,i=document,t="customerly",n="queue",o="load",r="settings",u=e[t]=e[t]||[];if(u.t){return void u.i("[customerly] SDK already initialized. Snippet included twice.")}u.t=!0;u.loaded=!1;u.o=["event","attribute","update","show","hide","open","close"];u[n]=[];u.i=function(t){e.console&&!u.debug&&console.error&&console.error(t)};u.u=function(e){return function(){var t=Array.prototype.slice.call(arguments);return t.unshift(e),u[n].push(t),u}};u[o]=function(t){u[r]=t||{};if(u.loaded){return void u.i("[customerly] SDK already loaded. Use customerly.update to change settings.")}u.loaded=!0;var e=i.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://messenger.customerly.io/launcher.js";var n=i.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};u.o.forEach(function(t){u[t]=u.u(t)})}();
      
      customerly.load({
            "app_id": "cb433f45"
      });
    </script> %>

    <%# <script src="https://apps.elfsight.com/p/platform.js" defer></script> %>
    <%# <div class="elfsight-app-bd685790-674c-47f3-9872-20971395243d"></div> %>

    <!-- Pixel Code for https://www.widgetsquad.com/ -->
    <script async src="https://www.widgetsquad.com/pixel/8zgi2kh84av39v8in9j3x6oqqpskdch0"></script>
    <!-- END Pixel Code -->

    <%# Modal Contacts %>
    <%= render "contacts/modal_contacts" %>
    <div id="results"></div>

    <%# ------------------------------------------------------- %>

    <% if current_page?(root_path) %>
      <!-- Bootstrap core JavaScript -->
      <script src="startbootstrap-agency-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="startbootstrap-agency-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Custom scripts for this template -->
      <script src="startbootstrap-agency-gh-pages/js/agency.min.js"></script>
    <% end %>

    <!-- Colors Letters -->
    <!-- <script src="startbootstrap-agency-gh-pages/js/script.js"></script> -->

    <!-- Letter header scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- Promotion script -->
    <script>
      function imgSlider(captureImage, color, letter) {
      	document.querySelector('.starbucks').src = captureImage;
      		document.querySelector('.circle').style.background = color;
      		document.querySelector('.letter').style.color = color;
      		document.querySelector('.btn--portfolio').style.background = color;
      }
    </script>

    <!-- AOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <%# Glider JS %>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>

    <%# Whatsapp %>
    <%# <script src="startbootstrap-agency-gh-railspages/js/script_whatsapp.js"></script> %>

    <%= javascript_pack_tag 'glider' %>
    <%= javascript_pack_tag 'service' %>
  </body>
</html>
